*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: fit-content;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.menu-open{
    overflow: hidden;
}
.container{
    width: 100%;
    background-color: white;
    padding-top: 100px;
    transform-origin: top left;
    transition: all 0.5s linear;
    display: flex;
    justify-content: center;
}
.container_{
    width: 80%;
    max-width: 1000px;
}
.container h1{
    margin:10px 0;
}
.container p{
    line-height: 20px;
}
.container-active{
    transform: rotate(-20deg);
}
.list{
    width: 200px;
    height: 200px;
    background-color: #ca5857;
    border-radius: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    top: -100px;
    left: -100px;
    z-index: 99;
    transform: rotate(-135deg);
    transition: all 0.4s linear;
}
.list-active{
    transform: rotate(-315deg);
}
.btn{
    cursor: pointer;
    background-color: transparent;
    transform: rotate(-45deg);
    border: 0;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 70vh;
    left: -200px;
    background-color: transparent;
    transition: all 0.6s linear;
}
.nav-active{
    left: 40px;
}
nav h1{
    cursor: pointer;
    font-size: 25px;
    color: white;
}

@media(max-width: 767px){

}